# BitAcademia Portal - Environment Configuration Template

VITE_BIT_NETWORK_URL=http://172.16.220.105:3000/
VITE_OUTSIDE_NETWORK_URL=http://139.167.188.221:3000/
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_SITE_TITLE=BitAcademia Access Portal
VITE_AUTHOR_NAME=S_Square
